@media screen and (orientation: portrait) {
    html {
        margin: 0;
    }

    body {
        font-family: Mediametrie, sans-serif;
        overflow-x: hidden;
    }

    .row, .col-6, .container-fluid {
        padding: 0;
        margin: 0;
    }

    /* NAVIGATION */
    .navbar {
        height: 10vh;
        box-shadow: none;
        border-bottom: lightgray 1px solid;
    }

    .navbar-toggler-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(107, 152, 27)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    }

    .nav-item {
        text-align: center;
    }

    .nav-link {
        color: #6B981B;
    }

    .nav-link:hover {
        color: #86BC25;
    }

    .navbar-toggler:focus,
    .navbar-toggler:active,
    .navbar-toggler-icon:focus {
        outline: none;
        box-shadow: none;
    }

    /* MENU */
    #logo_menu {
        height: 5vh;
        width: auto;
    }

    #menu {
        display: none;
    }

    #logo_menu_mobile {
        width: 20vw;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }

    #navbarToggleExternalContent {
        background-color: #86BC25;
    }

    #item_menu_mobile {
        font-family: Mediametrie, sans-serif;
        text-align: center;
    }

    #item_menu_mobile a {
        text-decoration: none;
        color: white;
        display: block;
        padding-top: 1vh;
        padding-bottom: 1vh;
    }

    /* ACCUEIL */
    #accueil {
        display: none;
    }

    #accueil_presentation_mobile {
        height: 45vh;
    }

    #accueil_titre_mobile {
        font-weight: bold;
        font-size: 3vh;
        padding-bottom: 2vh;
        color: #6B981B;
    }

    #accueil_texte_mobile {
        font-size: 2.15vh;
        padding-top: 8vh;
    }

    #accueil_photo_mobile {
        z-index: 9999;
        margin: 0;
    }

    #accueil_photo_mobile img {
        height: 50vh;
        padding: 0;
    }

    /* VOTRE RÔLE */
    #role {
        background-color: #69A8C5;
    }

    #titre_role {
        text-align: center;
        color: white;
        font-weight: bold;
        font-size: 3vh;
        padding-top: 3vh;
    }

    #texte_role {
        text-align: center;
        color: white;
        font-size: 2.15vh;
        padding-left: 3vh;
        padding-right: 3vh;
        padding-bottom: 3vh;
    }

    .carousel {
        width: 90vw;
        height: auto;
        left: 50%;
        transform: translateX(-50%);
        position: relative;
        padding-bottom: 3vh;
    }

    .carousel-control-next, .carousel-control-next:hover, .carousel-control-next:focus,
    .carousel-control-prev, .carousel-control-prev:hover, .carousel-control-prev:focus {
        color: black;
        height: 10vh;
    }

    .carousel-control-next, .carousel-control-prev {
        position: absolute;
        top: 30%;
        -ms-transform: translateY(-30%);
        transform: translateY(-30%);
    }

    .titre_video {
        font-size: 2vh;
        color: white;
        font-weight: bold;
    }

    /* QUI SOMMES NOUS */
    #about {
        display: none;
    }

    #titre_about_mobile {
        text-align: center;
        color: black;
        font-weight: bold;
        font-size: 3vh;
        padding-top: 6vh;
    }

    #texte_about_mobile {
        text-align: center;
        color: black;
        font-size: 2.15vh;
        padding-left: 3vh;
        padding-right: 3vh;
        padding-bottom: 3vh;
    }

    .card-img-top {
        height: 15vh;
    }

    .card {
        border: lightgray solid 1px;
        border-radius: 0;
        margin-left: 3vh;
        margin-right: 3vh;
        padding: 2vh;
        box-shadow: none;
        height: 45vh;
    }

    .card-text {
        text-align: center;
        font-size: 2.05vh;
    }

    .swiper-pagination-bullet-active {
        background-color: #86BC25;
    }
    /* CONTACT */
   #titre_contact {
        text-align: center;
        color: black;
        font-weight: bold;
        font-size: 3vh;
       padding-top: 6vh;
    }

    #texte_contact {
        text-align: center;
        color: black;
        font-size: 2.15vh;
        padding-left: 3vh;
        padding-right: 3vh;
        padding-bottom: 3vh;
    }

    #formulaire label {
        font-weight: bold;
        margin-top: 3vh;
    }

    #formulaire input {
        border-radius: 0;
        border: none;
        border-bottom: solid 1px #bfbfbf;
        font-size: 2vh;
    }

    #formulaire select {
        border-radius: 0;
        border: none;
        border-bottom: solid 1px #bfbfbf;
        font-size: 2vh;
    }

    #formulaire textarea {
        border-radius: 0;
        border: none;
        border-bottom: solid 1px #bfbfbf;
        font-size: 2vh;
    }

    input:active, input:focus, input:active:focus, input.active:focus {
        border: none;
        outline: 0;
        box-shadow: none !important;
    }

    textarea:active, textarea:focus, textarea:active:focus, textarea.active:focus {
        border: none;
        outline: 0;
        box-shadow: none !important;
    }

    select:active, select:focus, select:active:focus, select.active:focus {
        border: none;
        outline: 0;
        box-shadow: none !important;
    }

    option:hover {
        background-color: #9F1A76;
    }

    #obligatoire {
        font-size: 1.5vh;
        float: right;
        margin-top: 3vh;
    }

    #bouton {
        margin-top: 3vh;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        border-radius: 0;
        padding-left: 10vw;
        padding-right: 10vw;
        font-size: 2vh;
        font-weight: bold;
        background-color: #9F1A76;
        border: none;
        box-shadow: none;
    }

    #bouton:hover {
        color: #9F1A76;
        background-color: white;
        border: solid 1px #9F1A76;
    }

    *.btn:active, .btn:focus, .btn:active:focus, .btn.active:focus {
        border: none;
        outline: 0;
        box-shadow: none !important;
    }


    /* FOOTER */
    #image_footer {
        display: none;
    }

    #image_footer_mobile {
        margin-top: 5vh;
        width: 100vw;

    }

    #cercle_mobile {
        position: relative;
        left: 35vw;
        width: 15vh;
        margin-top: 5vh;
    }

    #footer {
        position: relative;
    }

    #lien_email {
        position: absolute;
        bottom: 10%;
        left: 50%;
        transform: translateX(-50%);
        z-index: 9999;
        color: white;
        font-weight: bold;
        font-size: 2vh;
        text-align: center;
    }

    #footer a {
        color: white;
        text-decoration: underline;
    }


}