@media screen and (orientation: portrait) {
    html {
        margin: 0;
    }

    body {
        font-family: Mediametrie, sans-serif;
        overflow-x: hidden;
    }

    .row, .col-6, .container-fluid {
        padding: 0;
        margin: 0;
    }

    /* NAVIGATION */
    .navbar-toggler-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(107, 152, 27)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    }

    .nav-item {
        text-align: center;
    }

    .nav-link {
       color:  #6B981B;
    }

    .nav-link:hover {
        color: #86BC25;
    }

    .navbar-toggler:focus,
    .navbar-toggler:active,
    .navbar-toggler-icon:focus {
        outline: none;
        box-shadow: none;
    }

    /* MENU */
    #logo_menu {
        height: 5vh;
        width: auto;
    }

    .navbar {
        border-bottom: lightgray 1px solid;
        background-color: white;
        z-index: 10000;
    }

    /* ACCUEIL */
    #accueil {
        display: none;
    }

    #accueil_presentation_mobile {
        height: 50vh;
    }

    #accueil_titre_mobile {
        font-weight: bold;
        font-size: 3vh;
        padding-top: 15vh;
        padding-bottom: 2vh;
    }

    #accueil_texte_mobile {
        font-size: 2.15vh;
    }

    #accueil_photo_mobile {
        height: 50vh;
        z-index: 9999;
        margin: 0;
    }

    #accueil_photo_mobile img {
        height: 50vh;
        padding: 0;
    }

}